<header>
  <div>
    @include("/admin/topicpath.html")
  </div>
  <div>
    <h1 class="acms-admin-admin-title js-dialog-title">
      ReCAPTCHA V3
    </h1>
  </div>
  <div class="acms-admin-col-md-6">

  </div>
</header>

<!-- BEGIN_MODULE Admin_Config -->
<!-- BEGIN_IF [{notice_mess}/nem/] -->
<p class="acms-admin-alert acms-admin-alert-info acms-admin-alert-icon">
  <span class="acms-admin-alert-icon-before acms-admin-icon-news"></span>
  ReCAPTCHA 設定を保存しました
  <button class="js-acms-alert-close acms-admin-alert-icon-after acms-admin-margin-right-mini">×</button>
</p><!-- END_IF -->


<form action="" method="post" class="acms-admin-form">
  <div class="js-acms_fix_marker acms_fix_bg">
    <div class="acms_fix_bg_index">
      <input
        type="submit"
        name="ACMS_POST_Config"
        value="<!--T-->保存<!--/T-->"
        class="acms-admin-btn-admin acms-admin-btn-admin-primary acms-admin-btn-admin-save js-saving-splash"/>
    </div>
  </div>

  <h2 class="acms-admin-admin-title2">API設定</h2>
  <table class="acms-admin-table-admin-edit">
    <tr>
      <th>Site key<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="ReCAPTCHAのHTMLコードでこれを使用します。"></i></th>
      <td>
        <input type="text" name="google_recaptcha_sitekey" value="{google_recaptcha_sitekey}" class="acms-admin-form-width-medium"/>
        <input type="hidden" name="config[]" value="google_recaptcha_sitekey"/>
      </td>
    </tr>
    <tr>
      <th>Secret key<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="Google API と連携するために使用します。"></i></th>
      <td>
        <input type="text" name="google_recaptcha_secret" value="{google_recaptcha_secret}" class="acms-admin-form-width-medium"/>
        <input type="hidden" name="config[]" value="google_recaptcha_secret"/>
      </td>
    </tr>
    <tr>
      <th>スコアしきい値<i class="acms-admin-icon-tooltip js-acms-tooltip-hover" data-acms-tooltip="reCAPTCHAが出したスコアで、許可するスコアのしきい値を設定します。"></i></th>
      <td>
        <input
          type="number"
          name="google_recaptcha_score"
          value="{google_recaptcha_score}"
          class="acms-admin-form-width-small"
          min="0"
          max="1"
          step="0.01"
          placeholder="0.0 ～ 1.0 の値を入力"
        />
        <input type="hidden" name="config[]" value="google_recaptcha_score"/>
        <span>（0.0 から 1.0 の間で設定してください。）</span>
      </td>
    </tr>
  </table>
</form>
<!-- END_MODULE Admin_Config -->
